<div class="container">
  <h1>Watermark Image Tool</h1>

  <div class="form">
    <label class="mb">
      Browse Image:
      <input type="file" accept="image/*" (change)="onFileSelected($event)" />
    </label>

    <div class="form-group">
      <div class="mb">
        <label>
          Name:
        </label>
        <input type="text" placeholder="Name" [(ngModel)]="name" />
      </div>
      <div class="mb">
        <label>Description</label>
        <input type="text" placeholder="Description" [(ngModel)]="description" />
      </div>
      <div class="mb">
        <label>Timestamp</label>
        <input type="text" placeholder="Date and Time" [(ngModel)]="tangglWaktu" />
      </div>
      <div class="mb">
        <label>Address Lines</label>
        <textarea [(ngModel)]="address" placeholder="Address" style="width: 100%; padding: 8px;">
        </textarea>
      </div>
      <div class="mb">
        <label>GPS Latitude, Longitude</label>
        <input type="text" placeholder="GPS Latitude, Longitude" [(ngModel)]="gps" />
      </div>
      <div class="mb">
        <label>Compass</label>
        <input type="text" placeholder="Note" [(ngModel)]="compass" />
      </div>
      <div class="mb">
        <label>Note</label>
        <input type="text" placeholder="Note" [(ngModel)]="note" />
      </div>

    </div>
  </div>

  <div class="preview-wrapper" *ngIf="selectedImage">
    <div id="watermarkedImage" class="image-preview">
      <img [src]="selectedImage" alt="Selected Image" />

      <!-- Top Right Watermark -->
      <div class="top-right">
        <div class="timemark">
          <span class="first">Time</span><span class="second">mark</span>
        </div>
        <div class="subtitle">Foto 100% akurat</div>
      </div>

      <div class="vertical-text-container">
        <img src="assets/icons/shield-check-small.svg" style="height: 15px;width: 15px;margin-right: 3px;"/>
          <div>
            <span style="margin-right: 10px;">{{ watermarkId }}</span> <span>Timemark Verified</span>
          </div>
      </div>

      <!-- Bottom Left Watermark -->
      <div class="bottom-left">

        <div class="header">
          <div class="name">{{ name }}</div>
          <div class="description">{{ description }}</div>
        </div>
        <div class="metadata">
          <div class="date">{{ tangglWaktu }}</div>
          <div class="address">{{ address }}</div>
          <div class="gps">{{ gps }}</div>
          <div class="compass">Kompas {{ compass }}° E</div>
          <div class="note">Catatan: {{ note }}</div>
        </div>
         <div class="code">
          <img src="assets/icons/shield-check.svg" class="icon"/>
          <span class="label">Kode Foto:</span> <span class="photo">{{ watermarkId }}</span>
        </div>
      </div>

    </div>

    <button class="download-btn" (click)="downloadImage()">Download Image</button>
  </div>
</div>
